# Node.js dependencies
node_modules/

# Environment files (API keys, secrets, etc.)
.env
.env.sample

#Other files
Day_11_Expense_Tracker_Original.mp4
Day_12_Blog_App_Original.mp4
cyb.html
Day_13_Image_Gallery/Day_13_Image_Gallery_Original.mp4
Day_14_Scientific_Calculator_Original.mp4
Day_15_Chatbot_Original.mp4
Day_16_PDFToolkit_Original.mp4
Day_21_Sentiment_Analysis_Original.mp4
Day_22_Tic_Tac_Toe_Game_Original.mp4
sentiment_model.pkl
vectorizer.pkl
.vscode/
__pycache__
.gitignore